body{
    color: #282425;
    background-color: #fff1e6;
    font-size: 20px;
   }



h1 {
   color: #756158;
  }

h2{
color: #756158;
}

h3{
    color: #756158;
    }
    

a {
    color: #756158;
    } 